<html>
    <head>
        <title>Mara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mara's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.01.2019, 1:15 PM</p>
            <h2><a href="">My first post</a></h2>
            <p>Dogs are the absolute best pets in the world!</p>
        </div>

        <div>
            <p>published: 11.01.2019, 1:15 PM</p>
            <h2><a href="">My second post</a></h2>
            <p>Cats are the absolute worst pets in the world!</p>
        </div>
    </body>
</html>
